.auth-btn {
  height: 45px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background: #4285f4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.auth-btn:hover {
  background: #3456f3;
}

.auth-btn_inactive {
  background: #f8f8f8;
  color: #000;
}

@media screen and (max-width: 767px) {
  .auth-btn {
    margin: 0 0 14px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
