.profile {
  height: 100vh;
  width: 410px;
  margin: 0 auto;
  padding-top: 50px;
}

.profile__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 0;
  padding: 0 0 103px 0;
  text-align: center;
}

.profile__form {
}
.profile__input-container {
  position: relative;
  border-bottom: 1px solid #424242;
  border: none;
}

.profile__input-container:first-child {
  border-bottom: 1px solid #424242;
}

.profile__form-text {
  position: absolute;
  top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  margin: 0;
}

.profile__form-error {
  display: block;
  min-height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin: 0;
  padding-top: 0;
}

.profile__btn-submit {
  display: block;
  margin: 200px auto 0 auto;
  background-color: inherit;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.profile__btn-submit:hover {
  transform: translateY(-4px);
}

.profile__btn-logout {
  display: block;
  margin: 16px auto 0 auto;
  background-color: inherit;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  cursor: pointer;
  transition: 0.2s;
}

.profile__btn-logout:hover {
  transform: translateY(4px);
}

.profile__input {
  background-color: inherit;
  border: none;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #fff;
  padding: 0 0 15px 0;
}

.profile__input:focus {
  outline: none;
}

@media screen and (max-width: 1279px) {
  .profile__header {
    padding: 163px 0 74px 0;
  }

  .profile__btn-submit {
    margin: 190px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    width: 260px;
    padding-top: 56px;
    text-align: center;
  }

  .profile__header {
    padding: 2px 0 57px 0;
  }

  .profile__btn-submit {
    margin: 360px auto 14px auto;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__btn-logout {
    font-size: 12px;
    line-height: 15px;
  }
}
