.welcome__header {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 0;
  padding: 38px 0;
}

@media screen and (max-width: 767px) {
  .welcome__header {
    padding: 48px 0 80px 0;
  }
}
