.page-not-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-not-found__container {
}

.page-not-found__header {
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.page-not-found__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 5px 0 184px;
}

.page-not-found__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285f4;
  display: block;
}

@media screen and (max-width: 767px) {
  .page-not-found__header {
    font-size: 80px;
    line-height: 97px;
  }

  .page-not-found__text {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 0 284px;
  }
}
