.register {
  height: 100vh;
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

@media screen and (max-width: 1279px) {
  .register {
    padding-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .register {
    width: 260px;
    padding-top: 56px;
    text-align: center;
  }
}
