.register {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-container {
  height: 560px;
  width: 396px;
}

@media screen and (max-width: 767px) {
  .register {
    text-align: center;
  }

  .register-container {
    height: 695px;
    width: 260px;
  }
}
