.footer{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer__header{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8B8B8B;
  padding-bottom: 20px;
  margin: 0;
}

.footer__container{
display: flex;
justify-content: space-between;
border-top: 1px solid #424242;
align-items: center;
}

.footer__text{
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

.footer__link-list{
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #fff;
  display: flex;
  gap: 20px;
  padding: 0;
}

.footer__link{
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer{
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer{
    padding: 0 10px;
  }

  .footer__header{
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container{
      flex-direction: column-reverse;
      padding-top: 16px;
    }

    .footer__link-list{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .footer__link{
      font-size: 12px;
      line-height: 15px;
    }

    .footer__text{
      font-size: 12px;
      line-height: 15px;
      color: #8B8B8B;
      padding-top: 18px;
    }
}