.login {
  height: 100vh;
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}

.login-container {
  height: 560px;
}

@media screen and (max-width: 1279px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    width: 260px;
    padding-top: 56px;
    text-align: center;
  }

  .login-container {
    height: 694px;
  }
}
