.about-me{
  padding: 110px 40px 100px 40px;
  color: #fff;
  max-width: 1140px;
  margin: 0 auto;
}

.about-me__container{
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__description{
  max-width: 600px;
  padding-right:40px;
}

.about-me__header{
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
  padding-bottom: 18px;
}

.about-me__sub-header{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  mix-blend-mode: normal;
  margin: 0;
  padding-bottom: 26px;
}

.about-me__text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  mix-blend-mode: normal;
  margin: 0;
  padding-bottom: 99px;
}

.about-me__pic{
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.about-me__link{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about-me{
    padding: 90px 50px;
  }

  .about-me__header{
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__sub-header{
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .about-me__text{
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 87px;
  }

  .about-me__pic{
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 320px) {
  .about-me{
    padding: 72px 14px;
  }

  .about-me__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding-top: 60px;
  }

  .about-me__pic{
    width: 292px;
    height: 352px;
    border-radius: 10px;
    padding-bottom: 40px;
  }

  .about-me__header{
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__sub-header{
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text{
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }
  .about-me__description{
    padding-right:0;
  }

}